* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$bg-color1: rgb(24, 25, 26);
$box-color1: rgb(36, 37, 38);

$fs-title: 2.2rem;
$fs-subtitle: 1.8rem;
$fs-body: 1.4rem;

$ff-primary: 'Segoe UI Historic', Tahoma, Geneva, Verdana, sans-serif;


$bs-container: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;;

$bd-radius1: 10px;


html {
    font-size: 10px;
}


body {
    width: 100%;
    height: 150vh;
    background-color: $bg-color1;
    font-size: $fs-body;
    color: #fff;
    font-family: $ff-primary;
}

header.top {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color:rgb(36, 37, 38);
    box-shadow: $bs-container;
}

main.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 65px;

    .left, .right {
        width: 20%;
        min-width: 300px;
        height: 100%;
        background-color: white;
    }

    .mid {
        width: 680px;
        min-width: 375px;
        height: 100%;
        background-color: $bg-color1;

        .storys {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 230px;
            margin-top: 15px;

            .story {
                display: inline-block;
                width: 129.59px;
                height: 100%;
                background-color: $box-color1;
                border-radius: $bd-radius1;
            }
        }

        .post_maker {
            width: 100%;
            height: 123px;
            background-color: $box-color1;
            margin: 25px 0 16px 0;
            border-radius: $bd-radius1;
        }

        .other {
            width: 100%;
            height: 61.5px;
            background-color: $box-color1;
            border-radius: $bd-radius1;
            margin: 16px 0 16px 0;
        }
    }
}