$bg-color1: rgb(24, 25, 26);
$box-color1: rgb(36, 37, 38);


//Font Size
$fs-title: 2.2rem;
$fs-subtitle: 1.8rem;
$fs-body: 1.4rem;
$fs-name: 1.6rem;

// Font Color
$fc-light: rgba(255, 255, 255, 0.7);

// Font Family
$ff-primary: 'Segoe UI Historic', Tahoma, Geneva, Verdana, sans-serif;

// Box Shadow
$bs-container: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;;

// Border Radius & Color
$bd-radius1: 10px;
$bd-radius2: 3px;
$bd-color1: rgba(255, 255, 255, 0.2);

// Box Color
$bx-hover-color: rgba(255, 255, 255, 0.2);

.light-icon-color {
    color: $fc-light;
}

.icon_size_14 {
    font-size: $fs-name;
}

.border_bottom {
    border: none;
    border-top: 1px solid $bd-color1;
    width: calc(100% - 36px);
    margin: 0 auto;
}

.posts {
    width: 100%;
    height: 100%;

    .post {
        width: 100%;
        height: fit-content;
        background-color: $box-color1;
        border-radius: $bd-radius1;

        .post-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 12px 18px 10px 18px;

            .header-image-container {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                background-color: aliceblue;
                margin-right: 10px;
            }

            .header-text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
                width: calc(100% - 80px);
                height: 100%;
                text-align: left;

                h2.name {
                    font-size: $fs-name;
                    font-weight: 300;
                }

                p.time {
                    font-size: $fs-body;
                    color: $fc-light;
                }
            }

            ul.option {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;

                &:hover {
                    background-color: $bx-hover-color;
                }
            }
        }

        .post-content {
            width: 100%;
            height: fit-content;
            padding: 5px 0;

            p.content-text {
                width: 100%;
                height: fit-content;
                padding: 0 18px;
                border: none;
                color: #fff;
                resize: none;
                background-color: transparent;
                font-family: $ff-primary;
            }
        }

        .post_reaction {
            width: 100%;
            padding: 10px 18px 0px 18px;
        }

        .post_interactions {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 5px 18px 5px 18px;

            .like, .comment {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 35px;
                background-color: transparent;
                border-radius: $bd-radius2;
                border: none;
                color: $fc-light;
                font-size: $fs-name;
                font-weight: 400;

                span {
                    margin-left: 10px;
                }

                &:hover {
                    background-color: $bx-hover-color;
                }
            }
        }

        .comment_input-container {
            width: 100%;
            height: fit-content;
            padding: 12px 18px 10px 18px;
        }
    }
}